.card{
    height: 330px;
    margin: 20px 0;
    border: none;
    box-shadow: 5px 5px 40px gray;
}
img{
    height: 150px;
}
.title{
    font-size: 14px;
    font-weight: bold;
    margin-top: -15px;
}
.creator{
    margin-top: -10px;
    font-size: 12px;
}
.price{
    margin-top: -15px;
    font-size: 18px;
    font-weight: bold;
}
.review{
    margin-top: -15px;
    font-size:12px;
}
.rating{
    font-weight: bold;
    font-size: 14px;
    color: darkorange;
}